<full-calendar [options]="calendarOptions" (dateClick)="handleDateClick($event)" style="color: white; width: 60%; margin-left: 35em; margin-top: -5em;"></full-calendar>

<div id="modal_bg" (click)="this.selectedCalendarDateEvents = []">
    <div id="modal">
        <div>
            <h1>{{selectedCalendarDate}}.</h1> <hr>
        </div>
        <br>
        <div *ngFor="let event of this.selectedCalendarDateEvents; index as i" class="entry">
            <b style="color: #E6AC45">{{event.timeFrom}} - {{event.timeTo}}</b> - <b style="color: #F1441E">{{event.title}}</b> <br> <hr>
            lokacija održavanja: <b>{{event.location}}</b> <br> izvođač(i): <b>{{event.professors}}</b>
        </div>

        <div class="entry" *ngIf="this.selectedCalendarDateEvents.length == 0" style="text-align: center;">
            Na ovaj dan nemate zakazana događanja.
        </div>
    </div>
</div>
