<div class="body">
    <div class="info">
        <img src="https://www.prospectmagazine.co.uk/content/uploads/2016/11/Pepedankmeems420blazeitohbabyatripledankaestheticafkeepit100.jpg"
            alt="Korisnička slika" width="300" height="300" class="image"> <br> <br>
        <span style="font-size: 30px; font-weight: bold;">{{this.getUsername()}}</span> <br> <br>
        <hr>
        <table>
            <tr>
              <th>
                Osobni podaci
              </th>
              <th>
                Upisani kolegiji
              </th>
            </tr>
            <tr>
              <td class="info_box">
                <div>
                    Email adresa:
                    <input type="email" name="email" placeholder="@tvz e-mail adresa" class="textbox" />
                </div>
                <br>
                <div>
                    Email adresa:
                    <input type="email" name="email" placeholder="@tvz e-mail adresa" class="textbox" />
                </div>
                <br>
                <div>
                    Email adresa:
                    <input type="email" name="email" placeholder="@tvz e-mail adresa" class="textbox" />
                </div>
                <br>
                <div>
                    Email adresa:
                    <input type="email" name="email" placeholder="@tvz e-mail adresa" class="textbox" />
                </div>
              </td>
              <td class="info_box">

              </td>
            </tr>
          </table> 

    </div>
</div>