<div class="body">
    <div class="info">
      <h1 style="color: #E6AC44; margin-left: 5em;">{{this.getUsername()}}</h1> <hr style="border: 1px solid #1E2729;">
        <table style="margin-left: 21em;">
            <tr>
              <th>
              </th>
            </tr>
            <tr>
              <td class="info_box">
                <span *ngIf="this.getRole() == 'STUDENT'">
                  <div>
                      Zanimanje: <hr style="width: 10em; border: 1px solid #1E2729;">
                      <input type="text" name="occupation" class="textbox" [(ngModel)]="occupation"/>
                  </div>
                  <br>
                  <div>
                      Adresa: <hr style="width: 10em; border: 1px solid #1E2729;">
                      <input type="text" name="address" class="textbox" [(ngModel)]="address"/>
                  </div>
                  <br>
                  <div>
                      Scholarship: <hr style="width: 10em; border: 1px solid #1E2729;">
                      <select name="scholarship" [(ngModel)]="scholarship" style="width: 250px; height: 30px; margin-left: 1em; background-color: #1E2729; color: #AAA; border: 1px solid #3E4446; border-radius: 5px;">
                        <option value="true">true</option>
                        <option value="false">false</option>
                      </select>
                  </div>
                  <br> <br>
                  <a>
                    <div class="btn_prijava" (click)="updateStudent()">Ažuriraj podatke</div>
                  </a>
                </span>

                <span *ngIf="this.getRole() == 'PROFESSOR'">
                  <div>
                      Titula: <hr style="width: 10em; border: 1px solid #1E2729;">
                      <input type="text" name="title" class="textbox" [(ngModel)]="title"/>
                  </div>
                  <br>
                  <div>
                      Lokacija: <hr style="width: 10em; border: 1px solid #1E2729;">
                      <input type="text" name="location" class="textbox" [(ngModel)]="location"/>
                  </div>
                  <br>
                  <div>
                      Konzultacije: <hr style="width: 10em; border: 1px solid #1E2729;">
                      <input type="text" name="consultations" class="textbox" [(ngModel)]="consultations"/>
                  </div>
                  <br> <br>
                  <a>
                    <div class="btn_prijava" (click)="updateProfessor()">Ažuriraj podatke</div>
                  </a>
                </span>
              </td>
            </tr>
          </table>  <br> <br>
          
          <h1 style="color: #E6AC44;" *ngIf="this.getRole() == 'STUDENT'">Pregled upisanih ocjena</h1> <hr style="border: 1px solid #1E2729;"> <br>
          <h1 style="color: #fff;" *ngIf="this.getRole() == 'STUDENT' && !this.pokazujOcjene">Nemate upisanih ocjena.</h1>
          <div *ngIf="this.getRole() == 'STUDENT' && this.pokazujOcjene" style="background-color: #181A1B; border: 2px solid #1E2729; width: 50em; padding: 3em; text-align: center; margin-left: 20em; border-radius: 10px;">
            <h1 style="font-variant: small-caps;">prosjek: <b style="color: #E6AC44">{{ocjene.gpa}}</b></h1>
            <h1 style="font-variant: small-caps;">Osvojeni ects: <b style="color: #E6AC44">{{ocjene.ects}}</b></h1>
          </div>
          <br><br>
          <div *ngIf="this.getRole() == 'STUDENT' && this.pokazujOcjene" style="background-color: #181A1B; border: 2px solid #1E2729; width: 50em; padding: 3em; text-align: center; margin-left: 20em; border-radius: 10px;">
            <h1 style="font-variant: small-caps; text-align: left;"><b style="color: #E6AC44">Upisane ocjene</b></h1>
            <h1 *ngFor="let course of ocjene.courses; index as i;" style="font-variant: small-caps;" (click)="otvoriInfo(i);">{{course.name}}: <b style="color: #E6AC44">{{course.grade}}</b></h1>
          </div>

    </div>
</div>