<div class="body">
    <div class="info">
      <h1 style="color: #E6AC44;">{{this.getUsername()}}</h1> <hr style="border: 1px solid #1E2729;">
        <table style="margin-left: 17.5em;">
            <tr>
              <th>
              </th>
            </tr>
            <tr>
              <td class="info_box">
                <span *ngIf="this.getRole() == '0'">
                  <div>
                      Zanimanje: <hr style="width: 10em; border: 1px solid #1E2729;">
                      <input type="text" name="occupation" class="textbox"/>
                  </div>
                  <br>
                  <div>
                      Adresa: <hr style="width: 10em; border: 1px solid #1E2729;">
                      <input type="text" name="address" class="textbox"/>
                  </div>
                  <br>
                  <div>
                      Scholarship: <hr style="width: 10em; border: 1px solid #1E2729;">
                      <input type="text" name="scholarship" class="textbox"/>
                  </div>
                  <br> <br>
                  <a>
                    <div class="btn_prijava" (click)="updateStudent()">Ažuriraj podatke</div>
                  </a>
                </span>

                <span *ngIf="this.getRole() == '1'">
                  <div>
                      Title: <hr style="width: 10em; border: 1px solid #1E2729;">
                      <input type="text" name="title" class="textbox"/>
                  </div>
                  <br>
                  <div>
                      Location: <hr style="width: 10em; border: 1px solid #1E2729;">
                      <input type="text" name="location" class="textbox"/>
                  </div>
                  <br>
                  <div>
                      Consultations: <hr style="width: 10em; border: 1px solid #1E2729;">
                      <input type="text" name="consultations" class="textbox"/>
                  </div>
                  <br> <br>
                  <a>
                    <div class="btn_prijava" (click)="updateProfessor()">Ažuriraj podatke</div>
                  </a>
                </span>
              </td>
            </tr>
          </table> 

    </div>
</div>