<div class="body">
    <form method="post" action="index.html">
        <div class="box">
            <div class="logo"></div>

            <p class="title">E-mail adresa:</p>
            <input type="email" name="email" placeholder="@tvz e-mail adresa" class="email" />

            <p class="title">Lozinka:</p>
            <input type="password" name="password" class="password" />

            <a href="#">
                <div class="btn_prijava" (click)="onLogin()">Prijavi me</div>
            </a>
            
            <a href="#" ng-click="">
                <div id="btn_registracija" (click)="main.setActiveScreen('register')">Registracija</div>
            </a>

        </div>

    </form>

    <p>Zaboravili ste lozinku? <u style="color:#f1c40f; cursor: pointer;" (click)="main.setActiveScreen('forgotpass')">Pritisnite ovdje!</u></p>

</div>