<div class="body">
    <form method="post" action="index.html">
        <div class="box">
            <div class="logo"></div>

            <p class="title">E-mail adresa:</p>
            <input type="email" name="email" value="email" class="email" />

            <hr>

            <p class="title">Lozinka:</p>
            <input type="password" name="password" value="password" class="password" />

            <a href="#">
                <div class="btn_prijava">Prijava</div>
            </a>
            
            <a href="#">
                <div id="btn_registracija">Registracija</div>
            </a>

        </div>

    </form>

    <p>Zaboravili ste lozinku? <u style="color:#f1c40f;">Pritisnite ovdje!</u></p>

</div>