<div class="body">
    <div class="info">
        <h1 style="color: #E6AC44;">Upis ocjena</h1> <hr style="border: 1px solid #1E2729;">
        <table style="margin-left: 21em;">
            <tr>
              <th>
              </th>
            </tr>
            <tr>
              <td class="info_box">
                <div>
                  Student: <hr style="width: 10em; border: 1px solid #1E2729;">
                  <select name="primatelj">
                    <option *ngFor="let student of listaStudenata; index as i;" (click)="this.odabraniStudent = student.account.id; this.getKolegiji();">{{student.firstName}} {{student.lastName}}</option>
                  </select>
              </div>
              <br> <br>
                <div>
                    Kolegij: <hr style="width: 10em; border: 1px solid #1E2729;">
                    <select name="primatelj">
                      <option *ngFor="let kolegij of listaKolegija; index as i;" (click)="this.odabraniKolegij = kolegij.id;">{{kolegij.name}}</option>
                    </select>
                </div>
                <br> <br>
                  <div>
                      Ocjena: <hr style="width: 10em; border: 1px solid #1E2729;">
                      <input class="textbox" [(ngModel)]="ocjena" type="number">
                  </div>
                  <br> <br>
                  <div class="btn_prijava" (click)="upisiOcjenu()">Upiši ocjenu</div>
                  
              </td>
            </tr>
          </table> 

    </div>
</div>