<div class="body">
    <form method="post" action="index.html">
        <div class="box">
            <div class="logo"></div>

            <p class="title">E-mail adresa:</p>
            <input type="email" name="email" placeholder="@tvz e-mail adresa" class="email" />

            <a href="#">
                <div class="btn_prijava">Resetiraj lozinku</div>
            </a>

            <a (click)="this.setOpenedComponent('login')">
                <div id="btn_registracija">Natrag na prijavu</div>
            </a>

        </div>

    </form>
</div>