<div class="body">
    <form method="post" action="index.html">
        <div class="box">
            <div class="logo"></div>

            <p class="title">E-mail adresa:</p>
            <input type="email" name="email" placeholder="@tvz e-mail adresa" class="email" />

            <a href="#">
                <div class="btn_prijava">Resetiraj lozinku</div>
            </a>

            <a href="#" ng-click="">
                <div id="btn_registracija" (click)="main.setActiveScreen('login')">Natrag na prijavu</div>
            </a>

        </div>

    </form>

</div>