<div class="body">
    <div class="logo"></div>
    <span style="float: right; color: white; font-size: 15px; margin-top: -170px; margin-right: 10px;">
        Dobrodošli, <b>{{user}}</b>! (<a style="cursor: pointer;" (click)="onLogout()">odjava</a>)
    </span>
    <header>
        <div class="menu">
            <br> <br>
            <a (click)="this.setActiveMenu('homepage'); activeMenuItem = 1" [ngClass]="{ 'active': activeMenuItem == 1 }"><span class="menu_item" id="kalendar">kalendar</span></a> <br> <br>
            <a (click)="this.setActiveMenu('korisnik'); activeMenuItem = 2" [ngClass]="{ 'active': activeMenuItem == 2 }"><span class="menu_item" id="korisnik">korisnik</span></a>  <br> <br>
            <a (click)="this.setActiveMenu('todo'); activeMenuItem = 3" [ngClass]="{ 'active': activeMenuItem == 3 }"><span class="menu_item" id="todo">todo</span></a>   <br> <br>
            <a (click)="this.setActiveMenu('mail'); activeMenuItem = 4" [ngClass]="{ 'active': activeMenuItem == 4 }"><span class="menu_item" id="mail">e-mail</span></a>   <br> <br>
            <a (click)="this.setActiveMenu('kolegiji'); activeMenuItem = 5" *ngIf="rola=='STUDENT'" [ngClass]="{ 'active': activeMenuItem == 5 }"><span class="menu_item" id="kolegiji">upis kolegija</span></a> <br> <br>
            <a (click)="this.setActiveMenu('upisani_kolegiji'); activeMenuItem = 6" *ngIf="rola=='STUDENT'" [ngClass]="{ 'active': activeMenuItem == 6 }"><span class="menu_item" id="upisani_kolegiji">upisani kolegiji</span></a> <br> <br> 
            <a (click)="this.setActiveMenu('studenti'); activeMenuItem = 7" *ngIf="rola=='PROFESSOR'" [ngClass]="{ 'active': activeMenuItem == 7 }"><span class="menu_item" id="studenti">pregled studenata</span></a> <br> <br>
            <a (click)="this.setActiveMenu('kreacija_kolegija'); activeMenuItem = 8" *ngIf="rola=='PROFESSOR'" [ngClass]="{ 'active': activeMenuItem == 8 }"><span class="menu_item" id="kreiraj">kreiraj kolegij</span></a>  <br> <br>
            <a (click)="this.setActiveMenu('ocjene'); activeMenuItem = 9" *ngIf="rola=='PROFESSOR'" [ngClass]="{ 'active': activeMenuItem == 9 }"><span class="menu_item" id="upis">upis ocjena</span></a>  <br> <br> 
            <a (click)="this.onLogout()"><span class="menu_item">odjava</span></a>  <br> <br> 
        </div>
    </header>
</div>
<div *ngIf="activeMenu=='homepage'">
	<app-homepage></app-homepage>
</div>

<div *ngIf="activeMenu=='korisnik'">
	<app-korisnik></app-korisnik>
</div>

<div *ngIf="activeMenu=='todo'">
	<app-todo></app-todo>
</div>

<div *ngIf="activeMenu=='mail'">
	<app-mail></app-mail>
</div>

<div *ngIf="activeMenu=='kreacija_kolegija'">
	<app-kreiraj-kolegij></app-kreiraj-kolegij>
</div>

<div *ngIf="activeMenu=='upisani_kolegiji'">
	<app-upisani-kolegiji></app-upisani-kolegiji>
</div>

<div *ngIf="activeMenu=='studenti'">
	<app-pregled-studenata></app-pregled-studenata>
</div>

<div *ngIf="activeMenu=='ocjene'">
	<app-upis-ocjena></app-upis-ocjena>
</div>

<div *ngIf="activeMenu=='kolegiji'">
	<app-pregled-kolegija></app-pregled-kolegija>
</div>