<div class="body">
    <div class="info">
        <h1 style="color: #E6AC44;">Podsjetnik</h1> <hr style="border: 1px solid #1E2729;">
        <table style="margin-left: 21em;">
            <tr>
              <th>
              </th>
            </tr>
            <tr>
              <td class="info_box">
                  <div>
                      TODO podsjetnik: <hr style="width: 10em; border: 1px solid #1E2729;">
                      <textarea class="textbox"></textarea>
                  </div>
                  <br> <br>
                  <a>
                    <div class="btn_prijava" (click)="updateTodo()">Ažuriraj todo listu</div>
                  </a>
              </td>
            </tr>
          </table> 

    </div>
</div>